TestBTC/obj/project.assets.json
TestBTC/obj/TestBTC.csproj.nuget.dgspec.json
TestBTC/obj/TestBTC.csproj.nuget.g.props
TestBTC/obj/TestBTC.csproj.nuget.g.targets
TestBTC/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
TestBTC/obj/Debug/netcoreapp3.1/TestBTC.AssemblyInfo.cs
TestBTC/obj/Debug/netcoreapp3.1/TestBTC.csproj.CopyComplete
TestBTC/obj/Debug/netcoreapp3.1/TestBTC.csproj.FileListAbsolute.txt
TestBTC/bin/Debug/netcoreapp3.1/TestBTC.deps.json
TestBTC/bin/Debug/netcoreapp3.1/TestBTC.runtimeconfig.dev.json
TestBTC/bin/Debug/netcoreapp3.1/TestBTC.runtimeconfig.json
